.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container {
  margin-top: 1rem;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Wrapper per la tabella per gestire lo scorrimento su mobile */
.tableWrapper {
  width: 100%;
  /* overflow-x: auto; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  background-color: var(--primary-bg); /* Verde lime */
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: table;
}

/* Stili per l'header */
.headerRow {
  background-color: #d3ff16; /* Verde più scuro per l'intestazione */
  display: table-row;
}

.header {
  color:black;
  padding: 0.75rem;
  font-weight: bold;
  text-align: left;
  width: 20%; /* Proporzione per Timestamp e Amount */
  border-bottom: 2px solid var(--border-color);
  display: table-cell;
  vertical-align: middle;
}

.headerTxid {
  color:black;
  padding: 0.75rem;
  font-weight: bold;
  text-align: left;
  width: 60%; /* Più spazio per TXID */
  border-bottom: 2px solid var(--border-color);
  display: table-cell;
  vertical-align: middle;
}

/* Stili per le righe */
.row {
  border-bottom: 1px solid var(--border-color);
  display: table-row;
}

.row:last-child {
  border-bottom: none;
}

/* Stili per le celle */
.cell {
  padding: 0.75rem;
  width: 20%; /* Stessa proporzione dell'header */
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word; /* Impedisce al testo lungo di traboccare */
}

.cellTxid {
  padding: 0.75rem;
  width: 60%; /* Stessa proporzione dell'header */
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word;
}

/* Stili per il paragrafo Total Burned e Showing Records */
.container p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--primary-bg);
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}

/* Stili per il menu a tendina e il testo Showing Records */
.tableControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.recordsInfo {
  font-size: 0.9rem;
  color: var(--text-color);
}

.recordsSelect {
  padding: 0.3rem;
  background-color: var(--primary-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Media query per schermi piccoli */
@media (max-width: 600px) {
  .table {
    min-width: 600px; /* Minima larghezza per mantenere leggibilità */
  }

  .container p {
    font-size: 0.9rem;
  }

  .tableControls {
    flex-direction: column;
    gap: 0.5rem;
  }

  .recordsInfo, .recordsSelect {
    font-size: 0.8rem;
  }
}