/* Reset globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #181818; /* Nero */
  color: #b3d3d1; /* Colore chiaro */
  padding: 20px;
  line-height: 1.6;
}

a {
  color: #d8ff16; /* Colore verde */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Griglie e layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }
}
