.navbarWrapper {
  width: 100%;
  max-width: 1200px; /* Aumentata la larghezza massima */
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: var(--primary-bg); /* Verde lime */
  padding: 1rem 7rem; /* Aumentato il padding laterale */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right:15%;
}

.logo a {
  color: var(--text-color);
  text-decoration: none;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 3rem; /* Aumentato lo spazio tra i link */
}

.navLinks li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.navLinks li a:hover {
  text-decoration: underline;
}

/* Media query per schermi piccoli */
@media (max-width: 600px) {
  .navbarWrapper {
    padding: 0 1rem;
  }

  .navbar {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .navLinks {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navLinks li a {
    font-size: 0.9rem;
  }
}