.container {
  margin-top: auto;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color:black;
  background-color: #d8ff16;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.row {
 align-items: center;
}

.row:last-child {
  border-bottom: none; /* Rimuove il bordo dall'ultima riga */
}

.label {
  padding: 12px;
  font-weight: bold;
  width: 40%;
  background-color: #b3d311;
}

.value {
  padding: 12px;
}

